.card {
  padding: 1rem 1rem;
  border-radius: 8px;
  background-color: white;
  height: fit-content;
  transition: all ease-in-out 100ms;
  margin-bottom: 1rem;
  cursor: pointer;
  box-shadow: 5px 5px 15px #888888;
}

.card:hover {
  box-shadow: 0 0 0 2px rgba(6, 123, 249, 0.4);
}

.card .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.card .container .info {
  flex: 1 1 auto;
}

.info .task {
  font-size: 20px;
}

.info .time {
  font-size: 16px;
  color: #5a5a5a;
}

.btn-group button {
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  font-size: 18px;
  transition: all ease-in-out 100ms;
}

.btn-group #unDone:hover {
  background-color: #2fa74e;
  color: white;
}

.btn-group #done:hover {
  background-color: #2fa74e;
  color: white;
}

.btn-group #del:hover {
  background-color: #da3648;
  color: white;
}

.btn-group button:focus {
  cursor: pointer;
  outline: none;
}
